# Puerto del Gateway (el único que ve el frontend)
PORT=3000

# Debe ser EL MISMO secreto que usan los 3 microservicios
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio

# URLs internas de cada microservicio
USUARIOS_URL=http://localhost:3001
ITEMS_URL=http://localhost:3002
PRESUPUESTOS_URL=http://localhost:3003
